body {
	margin: 0;
	padding: 0;
	background: #151515;
	color: #ffffff;
	font: normal 16px Helvetica, Arial, sans-serif;
}

main {
	max-width: 1000px;
	min-width: 600px;
	margin: 0 auto;
	padding: 25px 20px 20px 20px;
	background: #333333;
}

h1 {
	text-align: center;
}

img {
	display: block;
	width: 100%;
}

figure {
	display: none;
	margin: 0;
	padding-bottom: 30px;
}

figure:first-of-type {
	display: block;
}

figure img {
	border: 15px solid #ffffff;
	box-sizing: border-box;
}

figcaption {
	padding: 10px 0 0 0;
}

ul {
	padding: 0;
	margin: 0 -15px;
	font-size: 0;
}

ul li {
	display: inline-block;
	padding: 0 15px;
	width: 25%;
	box-sizing: border-box;
}

li img {
	border: 3px solid #ffffff;
	box-sizing: border-box;
}

li.active img {
	border: 3px solid #0066cc;
}